* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

body {
    background: #1b1c1f;
    color: #fff;
}

h1 {
    text-align: center;
    color: #fff;
}

h2 {
    font-size: 24px;
    text-align: center;
}

h3 {
    margin: 0;
    font-size: 18px;
}

canvas {
    background-color: #c7c7c7;
    border-radius: 8px;
}

button {
    display: block;
    margin: auto;
    font-size: 16px;
    background-color: #007bff;
    border: 1px solid #007bff;
    color: #fff;
    padding: .375rem .75rem;
    border-radius: .25rem;
    transition: color .15s;
    cursor: pointer;
}

button:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

@media (max-width: 999px) {
    .column-3, .column-4, .column-5 {
        width: 95% !important;
        margin: auto;
        margin-bottom: 20px;
    }

    .weather-box {
        width: 90% !important;
    }

    .weather-icon {
        margin-top: 3rem;
    }

    .box {
        width: 95% !important;
    }
}
@media (min-width: 1000px) {
    .column-3 {
        float: left;
        width: 33.333%;
        padding: 10px;
    }

    .column-4 {
        float: left;
        width: 25%;
        padding: 10px;
    }

    .column-5 {
        float: left;
        width: 20%;
        padding: 10px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
}

@media (max-width: 649px) {
    .aladin {
        width: 90%;
        height: auto;
    }
}

@media (min-width: 650px) {
    .aladin {
        width: 35rem;
        height: auto;
    }
}

.loading {
    display: block;
    margin: auto;
    width: 128px;
    height: auto;
}

.ta-left {
    text-align: left !important;
}

.ta-right {
    text-align: right !important;
}

.ta-center {
    text-align: center !important;
}

.t1 {
    border-collapse: collapse;
}

.t1 td, .t1 th {
    border: 1px solid #3a3a3a;
    padding: 8px;
}

.splash {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#splash-logo {
    width: 20rem;
    height: 20rem;
}

.pulse {
    transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	50% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.95);
	}
}

.box {
    background-color: rgba(30, 31, 34, 0.45);
    border-radius: 10px;
    width: 80%;
    margin: auto;
    padding-bottom: 2rem;
    border: 2px solid #27272b;
    border-top: none;
}

.box-header {
    text-transform: uppercase;
    border-radius: 10px 10px 0 0;
    background-color: #303035;
    padding: 1rem;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2rem;
}

.weather-box {
    background-color: #222327;
    border-radius: 10px;
    width: 95%;
    margin: auto;
    padding-bottom: 2rem;
}

.weather-box-header {
    border-radius: 10px 10px 0 0;
    background-color: #303236;
    padding: 1rem;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 2rem;
}

.weather-icon {
    filter: invert();
    height: 7rem;
    width: auto;
}

.weather-description {
    color: #6b6b6b;
    font-weight: bold;
    margin: 0;
}

.weather-value {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

.charts-box {
    width: 90%;
    margin: auto;
}